.cityName {
  font-size: 4rem;
}

.dayString {
  line-height: 1.5rem;
}

.currentTemp {
  font-size: 6rem;
  transform: scaleY(1.1);
}

.weatherIcon {
  height: 100%;
  width: 100%;
  max-height: 60px;
  max-width: 100px;
}

.favorite-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media (max-width: 768px) {
  .favorite-icon {
    bottom: 0rem;
    left: 1rem;
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
