.themeToggleContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15;
  color: white;
}

/* override react-switch classes */
.react-switch-bg {
  background: transparent !important;
}